form {
    width: 100%;
    background: rgba(255,255,255,0.6);
    padding: 20px;
}
.search-form {
  margin-bottom: 20px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  .half {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    @media (max-width: 624px) {
        flex-direction: column;
        text-align: -webkit-center;
    }
  }
  @media (max-width: 1080px) {
    flex-direction: column;
  }
}
