.upper-container {
  background-color: #fff;
  padding: 40px;
  color: white;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/cloudy-day.png")
}
.main-container {
  padding: 40px;
  background: #fafbfc;
}

.loading {
  text-align: center;
}